! XTerm clipboard keybindings
XTerm.vt100.translations: #override \n\
		Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
		Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! XTerm font
*faceName: Dina
*faceSize: 9
! st font
*font: Dina:pixelsize=12:antialias=true:autohint=true

*.foreground:   #98d1ce
*.background:   #000000
*.cursorColor:  #98d1ce

*.color0:       #000000
*.color8:       #10151b

*.color1:       #c33027
*.color9:       #c33027

*.color2:       #599caa
*.color10:      #599caa

*.color3:       #edb54b
*.color11:      #edb54b

*.color4:       #33859d
*.color12:      #33859d

*.color5:       #888ba5
*.color13:      #888ba5

*.color6:       #26a98b
*.color14:      #26a98b

*.color7:       #98d1ce
*.color15:      #d3ebe9
